body {
  font-family: Helvetica, arial, serif;
  background-image: url(images/pattern.png);
}

#content {
  position:relative;
  margin: auto;
  padding: 10px;
  width: 400px;
  border: 1px solid #333333;
  background: #FFFFFF url(images/footer_bk.png) bottom repeat-x;
  text-align: center;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

#footer {
  position:fixed;
  bottom:10px;
  }

h1, h2 {
  font-family: 'Droid Sans', arial, serif;
  font-weight: bolder;
  text-shadow: -2px 2px 4px #aaa;
}
h1 {
  font-size: 48px;
  text-align:right;
  margin:0 7px 5px 0;
  padding:0;
}

h2, ul {
text-align:left;
}

blockquote {
  font-family: 'Reenie Beanie', arial, serif;
  text-shadow: -2px 2px 4px #aaa;
  margin:0; padding:0;
}
blockquote p {
  font-size: 48px;
  margin:0; padding:0;
}
blockquote p.signature {
  text-align: right;
  font-size: large;
}	
